@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Space+Grotesk&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --font-family: "Times New Roman", Times, serif;
  --font-color: black;
  --background--color: #d5c8b8;
}

/*Document*/
* {
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--background--color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*NAVBAR*/

li a {
  color: white !important;
  font-size: 26px;
  font-family: var(--font-family);
}
.navbar-toggler-icon {
  background-color: white;
}
/* .nav-item {
  color: white !important;
} */

.navbar a:hover {
  color: #0e7474 !important;
}

.logo {
  max-width: 150px;
}

/*HOMEPAGE*/
.homepage {
  overflow-x: hidden;
}

/*HEADER*/
/* Header.css */
.header-background {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header-title {
  font-family: var(--font-family);
  color: black;
  font-size: 100px;
}

#header-subtitle {
  font-family: var(--font-family);
  color: black;
  font-size: 60px;
}
/*SEARCHBAR*/

.form-control {
  margin-right: 10px;
}

/*BOOKCARD*/
.card {
  max-width: 250px; 
  width: 100%;
}

.card-img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card-img {
  width: 100%;
  height: auto;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.card-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #198754;
  text-align: center;
  font-size: 12px;
}

.card:hover .card-img {
  filter: blur(3px);
}

.card:hover .card-hover-content {
  opacity: 1;
}


/*ABOUT*/
.about-page {
  max-width: 95%;
  margin: 0 auto;
  padding: 12px;
  margin-bottom: 15px;
}
.about-section {
  background: url("/src/assets/aboutimage.webp");
  background-size: center;
  background-position: center;
  color: white;
  padding: 20px;
}

.about-page h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.about-subtitle {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

/*Cards within About*/
/* .card {
  margin-bottom: 20px;
  margin-top: 10px;
} */
/* 
.card-body {
  padding: 10px;
  margin-top: 5px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
} */

/*CONTACT*/
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 40px;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #959292;
  border-radius: 3px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  width: 70%;
  padding: 10px 20px;
  background-color: rgb(40, 114, 40);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 13.9%; /*submit button in the middle of the form*/
}

.contact-form button:hover {
  background-color: rgb(123, 148, 86);
}

/*BOOKPAGE*/
#book-image {
  max-width: 400px;
  height: 500px;
}

#main-content {
  flex: 1;
}

#details-container {
  padding: 20px;
  font-family: var(--font-family);
}

#book-title {
  font-size: 60px;
  color: var(--font-color);
  margin-bottom: 0.5em;
}

#book-author,
#book-description,
#book-rating,
#book-year {
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 15px;
}

.rating strong {
  margin-right: 0.5em;
}

.star {
  font-size: 1.25em;
  color: #ffc107;
}

.star-empty {
  font-size: 1.25em;
  color: #e4e5e9;
}

#button-shelf {
  font-family: var(--font-family);
  background-color: #333; 
  border-color: #333; 
  color: #fff; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  border-radius: 4px; 
  padding: 10px 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease-in-out, transform 0.3s ease; 
}

#button-shelf:hover {
  background-color: #555; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

/*FOOTER*/
#footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: var(--font-family);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-link-container {
  margin-top: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
/*BOOKSHELF*/
