@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Space+Grotesk&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --font-family: "Times New Roman", Times, serif;
  --font-color: black;
  --background--color: #d5c8b8;
}

/*Document*/
* {
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--background--color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*NAVBAR*/

li a {
  color: white !important;
  font-size: 26px;
  font-family: var(--font-family);
}
.navbar-toggler-icon {
  background-color: white;
}
/* .nav-item {
  color: white !important;
} */

a:hover {
  color: #0e7474 !important;
}

.logo {
  max-width: 150px;
}

/*HOMEPAGE*/

/*HEADER*/
/* Header.css */
.header-background {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header-title {
  font-family: var(--font-family);
  color: black;
  font-size: 100px;
}

#header-subtitle {
  font-family: var(--font-family);
  color: black;
  font-size: 60px;
}
/*SEARCHBAR*/

.form-control {
  margin-right: 10px;
}

/*BOOKCARD*/
.card {
  width: 18rem;
}

/*ABOUT*/

/*CONTACT*/

/*BOOKPAGE*/
#book-image {
  max-width: 400px;
  height: 500px;
}

#main-content {
  flex: 1;
}

#details-container {
  padding: 20px;
  font-family: var(--font-family);
}

#book-title {
  font-size: 60px;
  color: var(--font-color);
  margin-bottom: 0.5em;
}

#book-author,
#book-description,
#book-rating,
#book-year {
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 15px;
}

.rating strong {
  margin-right: 0.5em;
}

.star {
  font-size: 1.25em;
  color: #ffc107;
}

.star-empty {
  font-size: 1.25em;
  color: #e4e5e9;
}

/*AMAZONCAROUSEL*/

/*FOOTER*/
#footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: var(--font-family);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-link-container {
  margin-top: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
/*BOOKSHELF*/
